{% extends 'commons/Base.html' %}

{% block title %}MJML Editor{% endblock title %}

{% block header %}{% include "commons/Header.html" %}{% endblock header %}

{% block body %}

    <div class="container d-flex justify-content-center align-items-center" style="height: 90%">
        <div class="card" style="width: 18rem; height: 27rem; margin:50px;">
            <a href="{% url 'editor:create' 0 %}" style="height:100%;text-decoration: none;">
                <div class="card-body">
                    <h1 class="card-title text-dark">Empty Template</h1>
                </div>
            </a>
        </div>
        <div class="card" style="width: 18rem; height: 27rem; margin:50px;">
            <a href="{% url 'editor:create' 1 %}" style="height:100%;text-decoration: none;">
                <div class="card-body">
                    <h1 class="card-title text-dark">Basic Template</h1>
                </div>
            </a>
        </div>
        <div class="card" style="width: 18rem; height: 27rem; margin:50px;">
            <a href="{% url 'editor:create' 2 %}" style="height:100%;text-decoration: none;">
                <div class="card-body">
                    <h1 class="card-title text-dark">Business Template</h1>
                </div>
            </a>
        </div>
    </div>

{% endblock body %}