{% extends 'commons/Base.html' %}

{% block title %}MJML Editor{% endblock title %}

{% block header %}{% include "commons/Header.html" %}{% endblock header %}

{% block body %}

    <div class="container d-flex justify-content-center align-items-center" style="height: 90%">
        <div class="card" style="width: 18rem; height: 27rem; margin:50px;">
            <a>
                <div class="card-body">
                <h1 class="card-title">Basic Template</h1>
            </div>
            </a>
        </div>
        <div class="card" style="width: 18rem; height: 27rem; margin:50px;">
            <div class="card-body">
                <h1 class="card-title">Business Template</h1>
            </div>
        </div>
    </div>

{% endblock body %}